.header{
    height: 34vw;
    margin: 20px auto;
    background: url('D:\Harish_Files\LPU\3rd Year\6th Sem\CSF303 - React\React Programs\Final Project\food-app\public\header_img2.jpeg') no-repeat;
    background-size: cover;
    border-radius: 25px;
    padding: 20px;
    position: relative;
}
  
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    bottom: 30%;
    max-width: 50%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2{
    font-weight: 500;
    color: 	#FFFDD0; 
    font-size: max(4.5vw, 22px);
}  

.header-contents p{
    color: 	#FFFDD0;
    font-size: 1vw;
}

.header-contents button{
    border: none;
    color: white;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: #e64c04;
    font-size: max(1vw,13px);
    border-radius: 50px;
}

@media (max-width:1050px) {
    .header-contents{
        max-width: 45%;
    }
}    

@media (max-width:750px) {
    .header-contents{
        max-width: 55%;
    }
    .header-contents p{
    display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}        